<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
   <div class="img-container">

   </div>

   <div class="top-navigation">
       <a href="https://www.youtube.com/watch?v=yJbGCwT7Kms">Criticism</a>
       <a href="https://www.youtube.com/watch?v=T0sHaz4H9MQ">Fiction</a>
       <a href="https://www.youtube.com/watch?v=ntEoGvhoVac">News</a>
       <a href="https://www.youtube.com/watch?v=ZWY5WXssw_w">Audiobooks</a>
       <a href="https://jamesclear.com/best-books">Recommendations</a>
       <a href="https://www.youtube.com/watch?v=T0sHaz4H9MQ">About us</a>
        <!-- CRAFT AND CRITICISM FICTION AND POETRY NEWS AND CULTURE LITHUB RADIO READING LISTS BOOK MARKS CRIMEREADS -->
   </div>
   <div class="text-container">
        <h1 id="lithub">lithub.</h1>
       <p id="introduction">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquid laudantium ipsam enim ratione nesciunt fugit nostrum, modi eveniet deleniti alias quaerat ipsum repellat doloremque minus. Maiores, nulla? Magnam, quas.</p>
        <a href="https://www.youtube.com/watch?v=T0sHaz4H9MQ" id="button">READ MORE<a>
    </div>
    <script src="index.js"></script>
</body>
</html>